html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-image: url ("world.jpg");
	background-color: black;
    text-align: center;
    color: white;
}

li{
	list-style-type: none;
}	

